<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="test.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

<div id="box"> BOX </div>

<div class="container">
	
	<ul class="timeline">
	    <% for (var i = 0; i < users.length; i++) { %>
	    <li class="timeline-yellow">
	        <div class="timeline-time">
	            <span class="date" style="text-align:left">
	            <%= users[i] %>
	   
	        </div>
	    </li>
	    <% } %>
	</ul>

</div>

<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>

<!--         <div id="stage">
      <div id="dogIntro"></div>
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="d#{n}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <input type="checkbox" id="bc#{n}-#{i}">
      <div id="dogLaugh">
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
        <div><span></span><span></span></div>
      </div>
      <div id="shootingArea">
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
        <div>
          <div>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <label for="bc#{n}-#{i}"></label>
            <div>
              <label for="d#{n}"></label><span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="console" id="bullets">
        <div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
          <div><span></span><span></span><span></span></div>
        </div><span>SHOT</span>
      </div>
      <div class="console" id="hits"><span>HIT</span>
        <div><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
      </div>
      <div class="console" id="points">
        <div class="pts1">
          <div class="pts2">
            <div class="pts3">
              <div class="pts4">
                <div class="pts5">
                  <div class="pts6">
                    <div class="pts7">
                      <div class="pts8">
                        <div class="pts9">
                          <div class="pts10"><span>000000</span><span>000100</span><span>000200</span><span>000300</span><span>000400</span><span>000500</span><span>000600</span><span>000700</span><span>000800</span><span>000900</span><span>001000</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><span>SCORE</span>
      </div>
    </div> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="index.js"></script>
    <script>
      
    </script>
</body>
</html>