<!DOCTYPE html>
<html>
<head>
	<title>JamSesh</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="test.css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
	<div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Songs</h1>
        <nav>
            <a href="/logout" class="btn btn-info btn-sm">Logout</a>
            <a href="/profile" class="btn btn-primary btn-sm">To Profile</a>
        </nav>
    </div>

    <div id="songs" class="well text-center allSongs-songList">
        <% songs.forEach(function(song) { %>
        <li>
            <div class="songBox">
                <h3 class="profileSongName"><%= song.songname %></h3>
                <h4 class="songAuthor">Created by: <%= song.createdBy %></h4>
                
                <span class="span-song" style="display:none"><%= JSON.stringify(song.song) %></span>
                <button class="playButton btn btn-info btn-sm">Play</button>
            </div>
        </li>
        <% }); %>
    </div>

    <div id="Content" style="display:none">
        
        <div id="Keyboard"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.27/Tone.min.js"></script>
    <script src="./scripts/Keyboard.js"></script>
    <script src="./scripts/draggabilly.js"></script>
    <script src="./scripts/StartAudioContext.js"></script>
    <script src="./scripts/Interface.js"></script>
    <script src="profile-js.js"></script>
</body>
	
</html>