<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="test.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

<style type="text/css">
        img {
            width: 80%;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        #Keyboard {
            margin: 3px!important;
        }
    </style>
    
    <div id="Content">
        
        <div id="Keyboard"></div>
    </div>

    <button id="loop">Loop</button>
    <!--<button id="pause-loop">Pause Loop</button>-->
    <button id="clear-loop">Clear Loop</button>
    
    <br>
    <div id="loopTime"></div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="sounds">
        <button name="kick1">Kick</button> 
        <button name="cowbell">cowbell</button> 
        <button name="cl_hihat">hi hat</button> 
        <button name="handclap">handclap</button> 
        <button name="claves">claves</button> 
        <button name="rimshot">rimshot</button> 
        <button name="snare">Snare</button> 
        <button name="tom1">Tom</button>        
                
</div>

    


<!-- <div class="hi diff"></div> -->

<!-- <div class="container">
	
	<ul class="timeline">
	    <% for (var i = 0; i < users.length; i++) { %>
	    <li class="timeline-yellow">
	        <div class="timeline-time">
	            <span class="date" style="text-align:left">
	            <%= users[i] %>
	   
	        </div>
	    </li>
	    <% } %>
	</ul>

</div>

<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form> -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.27/Tone.min.js"></script>
    <script src="./scripts/Keyboard.js"></script>
    <script src="./scripts/draggabilly.js"></script>
    <script src="./scripts/StartAudioContext.js"></script>
    <script src="./scripts/Interface.js"></script>
    <script src="jam.js"></script>
    <script>
      
    </script>
</body>
</html>