h1{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

body{
  padding: 0 0;
  text-align: center;
}

#instrumentButtons{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

#warning{
	display: none;
}

.noteButton{
  display: inline-block;
  width: 18vw;
  height: 10vh;
  margin: auto;
  padding: 0 0;
  transition: all .3s;

  background: lightskyblue;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.noteButton:hover{
  background: white;
}

.noteButton:active{
  background: black;
}

#keys{
  text-align: center;
}

#instrumentButtons, .loopButtons, .recordingButtons{
  display: inline;
  margin-right: 2vw;
}

#instrumentButtons .btn{
  background-color: #4CAF50;
}

.loopButtons .btn{
  background-color: #FFEB3B;
}

.recordingButtons .btn{
  background-color: #e63528;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  #instrumentButtons, .loopButtons, .recordingButtons{
    display: block;
    width: 100%;
  }
}