body{
	background: darkorange;
	color: ghostwhite;
}

.Keyboard{
	height: 100px;
	width: 100%;
	position: relative;
}

.loopOn {
	background: red;
}

.playButton{
	display: inline;
	text-align: right;
	position: absolute;
	right: 0;
	bottom: 0;
}

.profileSongName{
	display: inline-block;
}

li{
	list-style: none;
}

#name{
	display: inline-block;
}

#userName{
	display: inline;
}

#save{
	display: block;
}

.recordedSongs{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#myRecordedSongs{
	text-align: center;
}

#activeRooms{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.activeRoomName{
	position: relative;
    left: 0;
    margin-right: 25%;
}

.joinRoom{
	position: relative;
    right: 0;
    margin-left: 25%;
}

.activeRoom{
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.allSongs-songList{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

.songBox{
	position: relative;
	text-align: justify;
}

.well{
	color: darkorange;
	background: ghostwhite;
}

.jumbotron{
	color: darkorange;
	background: ghostwhite;
}

.visualizer{
	width: 50px;
	background: green;
	height: 50px;
	transition: all .5s;
}

canvas{
	position: absolute;
	top: 0;
	pointer-events: none;
}

@keyframes increaseFont {
  0%   { opacity: 1; font-size: 1em;}
  100% { opacity: 0; font-size: 10em}

}

.notes{
	animation: increaseFont 1s forwards;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
	.containerLogin .containerIndex{
		margin-top: 40%;
		width: 100%;
	}

	.containerProfile{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.jumbotron{
		font-size: 50px;
	}

	.jumbotron h1{
		font-size: 100px;
	}

	.btn{
		font-size: 40px;
	}

	.login h1{
		font-size: 100px;
	}

	.login form{
		font-size: 40px;
	}

	.login p{
		font-size: 24px;
	}

	.form-control{
		font-size: 40px;
	}

	.containerProfile h1{
		font-size: 100px;
	}

	.containerProfile h2{
		font-size: 75px;
	}

	.containerProfile h3{
		font-size: 50px;
	}

	.containerProfile .well{
		width: 80%;
	}

	.profileInfo{
		padding-bottom: 20px;
	}

	#piano .btn{
		font-size: 14px;
	}


}